
<%= form_with model: [@project, @workshop], local: true do |f| %>
  <div class="field">
    <%= f.label :person_id, 'Person' %>
    <%= f.select :person_id, options_for_select(@people,:name), prompt: 'Selecciona Persona' %>
  </div>

  <%= f.submit "Submit", disable_with: 'Submiting...' %>

<% end %>